
/* MAIN COLORS */
$Color1: #08a27c;
$Color2: #06775b;
$Color3: #f4f6f5;
$Color4: #f4f6f5;
$Color5: #fff;
$Color7: #01556d;
$Color8: #0f728e;
$Color9: #ccc;

// Typography
$font-family: 'Open Sans', sans-serif, arial;
$font-family-merienda: 'Merienda';
$font-size: 0.9rem;
$line-height: 1.6;
